/*General CSS*/

* {
  border: 1px solid red;
}

body {
  max-width: 1600px;
  min-width: 800px;
  background-color: #dfdfdf;
}

/*CSS for Header Area*/


#nameHeader {
  text-align: center;
  width: auto;
  text-decoration: underline;
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
}

#contact {
  width: 600px;
  display: block;
  margin: auto;
}

#addressHeader {
  text-align: center;
}

#contactHeader {
  text-align: center;
}

/*CSS for Profile Area*/

#profile {
  font-family: 'Domine', serif;
}



/*CSS for Key Skills Area*/

#keySkills {
  font-family: 'Domine', serif;

}

/*CSS for Professional Experience Area*/

#proExp {
  font-family: 'Domine', serif;

}

/*CSS for Education Area*/

#education {
  font-family: 'Domine', serif;

}

/*CSS for Footer Area*/
