/*General CSS*/

* {
}

body {
  max-width: 1600px;
  min-width: 800px;
  background-color: #dfdfdf;
}

p {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Rubik', sans-serif;
}

ul, ol {
  font-family: 'Quicksand', sans-serif;
}

a {
  font-family: 'VT323', monospace;
}
/*CSS for Header Area*/


#nameHeader {
  text-align: center;
  width: auto;
  text-decoration: underline;
  font-size: 45px;
  font-family: 'Pacifico', cursive;
}

#contact {
  width: 600px;
  display: block;
  margin: auto;
}

#addressHeader {
  text-align: center;
}

#contactHeader {
  text-align: center;
}

/*CSS for Profile Area*/

#profile {
}

#profileHeader {
  font-family: 'Rubik', sans-serif;
}

#profileTextBold {
  font-family: 'Inconsolata', monospace;
}

/*CSS for Key Skills Area*/

#keySkills {

}

#keySkillsHeader {

}

/*CSS for Professional Experience Area*/

#proExp {

}

#proEXPHeader {

}

#deltaMarine {

}

#deltaMarineBold {
  font-family: 'Inconsolata', monospace;
}

#boeing {

}

#boeingBold {
  font-family: 'Inconsolata', monospace;
}

/*CSS for Education Area*/

#education {

}

#educationHeader {

}

#codeFellows {

}

#edcc {

}

/*CSS for Questions Area*/

#questions {

}

/*CSS for Fun Facts Area*/

#funFacts {

}
/*CSS for Footer Area*/
